
# Visual Studio

*.user
*.suo
*.dll
bin/
obj/
packages/
.sonarqube/
*.nupkg
.vs/
[Aa]rtifacts/
_ReSharper*/

*.ncrunch*
_NCrunch_*/


# ApprovalTests

*.received.*


# OS trash

.DS_Store
desktop.ini
Thumbs.db